// === header === [ Стили для навбара, используемые на всех страницах ] ===

.header {
    margin-top: 3rem;

    // .header__inner

    &__inner {
        min-height: var(--header-min-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        @media ($media_xs) {
            width: 100%;
        }
    }

    // .header__logo

    &__logo {
        margin-right: 5rem;

        @media ($media_sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: inherit;

            width: 90%;
            margin: 0 auto;
        }
    }

    // .header__controls

    &__controls {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        @media ($media_sm) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto calc(var(--header-min-height) / 3);

            &[data-burger='menu'] {
                display: none; // если бургер меню активно
                width: 90%;
            }
        }
    }

    // .header__links

    &__links {

    }

    // .header__menu

    &__menu {

    }

    // .header__download

    &__download {
        display: flex;
        align-items: center;
        text-decoration: none;

        padding: 0.625rem 1.25rem;
        background: linear-gradient(91.91deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.4) 100.82%);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        border-radius: 94px;

        svg {
            fill: $color_black_main;
        }

        span {
            font-weight: 600;
            font-size: 1.375rem;
            color: $color_black_main;

            display: inline-block;
            margin-left: 1rem;
        }
    }
}

.logo {

    display: flex;
    width: 14rem;

    picture {
        display: inline-flex;
    }

    // .logo__icon

    &__icon {
        
    }
}

.menu {
    display: flex;
    
    @media ($media_sm) {
        flex-direction: column;
    }

    // .menu__item

    &__item {

        &:not(:last-child) {
            margin-right: 2.25rem;

            @media ($media_sm) {
                margin: 0 0 1.5rem 0;
            }
        }

        // .menu__item--active

        &--active {

            .menu__link {
                color: $color_primary;

                &::after {
                    background-color: $color_primary;
                }
            }
        }
    }

    // .menu__link

    &__link {
        position: relative;
        display: inline-block;
        padding: 0.4rem 0;
        color: $color_black_main;
        text-decoration: none;

        font-weight: 600;
        font-size: 1.25rem;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $color_black_main;
            transform: scaleX(0);
            transition: 0.3s ease-in-out;

            @media ($media_sm) {
                //content: none;
            }
        }

        &:hover {

            &::after {
                transform: scaleX(1);
            }
        }
    }
}

// === / header ===